{% extends "main/base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Recipes Login</h1>
        </div>

        <div class="row">
            <form action="{% url 'login' %}" id="login-form" method="POST" class="col-sm-offset-3 col-sm-6">
                {% csrf_token %}
                <input type="hidden" name="next" value='{{ next }}'>
                <span class="text-center text-danger">{{ error }}</span>

                <div class="form-group">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username">
                </div>

                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                </div>
                
                <a href="{% url 'password_reset' %}">Forgot your password?</a>
                <button type="submit" id="login-button" name="login-button" class="btn btn-primary pull-right">Login</button>
            </form>
        </div>
    </div>
{% endblock content %}
