{% extends "main/base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Recipes Reset Email Sent</h1>
        </div>

        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <p>If a user account exists for that email address, it will recieve an email with instructions for how to reset your password shortly.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
{% endblock content %}
