{% extends "main/base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Recipes Password Reset</h1>
        </div>

        <div class="row">
            <form action="{% url 'password_reset' %}" id="password-reset-form" method="POST" class="col-sm-offset-3 col-sm-6">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email.errors }}
                    <input type="email" name="email" class="form-control" placeholder="Email address of account">
                </div>

                <button class="btn btn-primary pull-right">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}
