{% load staticfiles %}

<!DOCTYPE html>
<html>

    <head>
        <title>Recipes</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% block css %}{% endblock css %}
        <link rel="stylesheet" href="{% static 'project/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'project/css/wormholesales.css' %}">
    </head>

    <body>

        {# {% include "project/navbar.html" %} #}

        {% block content %}
        {% endblock content %}

        {# {% include "project/footer.html" %} #}

        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="{% static 'project/bootstrap/js/bootstrap.min.js' %}"></script>
        {# <script type="text/javascript" src="{% static 'project/js/timeago.js' %}"></script> #}
        {% block js %}{% endblock js %}
    </body>

</html>