{% extends "main/base.html" %}

{% block content %}
 <h1>Create a recipe!</h1>
     <form method="POST" action="" id="create-recipe-form">
	     {% csrf_token %}
	     <div class="form-group">
	     	{{form.as_p}}
	     </div>
	     <div class="form-group" id="ingredient-entry">
	     	<table>
	     		{{ingr}}
	     	</table>
	     </div>
	     <div class="form-group">
	     	<button id="add-ingredient">Add ingredient</button>
	     </div>
	     <button type="submit">Submit</button>
     </form>
{% endblock content %}