{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <h2><center>Filters</center></h2>
        <form action="" method="post">
            {% csrf_token %}
            <div class="filters form-group">
                <div class="row form-group">
                    <div class="col-sm-4 form-group">
                        <input type="text" name="name" placeholder="Name" class="form-control">
                    </div>
                    <div class="col-sm-3 form-group">
                        <input type="number" name="servings" placeholder="Serving Size" class="form-control">
                    </div>
                    <div class="col-sm-5 form-group">
                        <input type="text" name="ingredients" placeholder="Ingredients" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <select name="rating" id="" class="form-control">
                            <option value="">Rating</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <select name="difficulty" id="" class="form-control">
                            <option value="">Difficulty</option>
                            <option value="1">Easy</option>
                            <option value="2">Medium</option>
                            <option value="3">Hard</option>
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <select name="meal" id="" class="form-control">
                            <option value="">Meal Type</option>
                            <option value="0">0</option>
                            <option value="1">Breakfast</option>
                            <option value="2">Lunch</option>
                            <option value="3">Dinner</option>
                            <option value="4">Snack</option>
                            <option value="5">Dessert</option>
                        </select>
                    </div>
                    <div class='col-sm-2'>
                        <input type="checkbox" name="exclude" value="exclude" id="exclude-results" checked="checked">
                        <label for='exclude_results'>Exclude disliked?</label>
                    </div>
                    <div class="col-sm-1 form-group">
                        <button type="submit" class="btn">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <h2><center>Recipes</center></h2>
        <div class="row">

            {% for recipe in recipes %}
                <div class="recipe-container {% if recipe.exclude_from_search %} exclude-recipe {% endif %}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{% url 'main:recipe_details' id=recipe.id %}"><span class='recipe-title'>{{recipe.name}}</span></a>
                            <span class="pull-right">
                                <div class='recipe-rating rating{{ recipe.rating }}'>{{ recipe.rating }}</div>
                            </span>
                            <span class='pull-right'>Last Made:  
                                {% if recipe.event_set.all.count > 0 %}
                                    <abbr class="timeago" title="{{ recipe.event_set.latest.created|date:'c' }}">{{ recipe.event_set.latest.created|date:'DATE_FORMAT' }}</abbr>
                                    {# {{ recipe.event_set.latest.created }} #}
                                {% else %}
                                    Never
                                {% endif %}
                            </span>
                        </div>
                        <div class="panel-body">
                            <div class='col-xs-5 col-sm-4 col-md-2'><span class='title-format'>Difficulty:&nbsp;</span>{{recipe.get_difficulty_display}}</div>
                            <div class="col-xs-7 col-sm-8 col-md-2"><span class='title-format meal-search'>Meal: </span>{{recipe.get_meal_display}}</div>
                            <div class="col-xs-12 col-sm-12 col-md-8"><span class='title-format'>Ingredients: </span>
                                {% for ingredient in recipe.ingredients.all %}
                                    {{ingredient.name|title}}
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!--<table class="col-sm-12">
                <tr class="recipe-container">
                    <th>Name</th>
                    <th>Meal Type</th>
                    <th>Difficulty</th>
                    <th>Ingredients</th>
                    <th>Rating</th>
                </tr>
                {% for recipe in recipes %}
                    <tr class="recipe-container {% if recipe.exclude_from_search %} exclude-recipe {% endif %}">
                        <td>
                            <a href="{% url 'main:recipe_details' id=recipe.id %}"><h4>{{recipe.name}}</h4></a>
                        </td>
                        <td>{{recipe.get_meal_display}}</td>
                        <td>{{recipe.get_difficulty_display}}</td>
                        <td>
                            {% for ingredient in recipe.ingredients.all %}
                                {{ingredient.name}}
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>{{recipe.rating}}</td>
                    </tr>
                {% endfor %}
            </table>-->
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'main/js/initialize.timeago.js' %}"></script>
{% endblock js %}
